## DataBase

In [1]:
import sqlite3

In [2]:
#connect to the database
con = sqlite3.connect('mystudent.db')

In [3]:
# step2: create a cursor object
cursorobj = con.cursor()

In [4]:
cursorobj.execute("CREATE TABLE IF NOT EXISTS student(rollno INTEGER, name TEXT, gpa REAL)")

In [5]:
cursorobj.execute('SELECT * FROM student')

In [6]:
cursorobj.execute('INSERT INTO student values(101,"Ramesh",9.0)')

In [13]:
def insert(r,n,g):
    con = sqlite3.connect('mystudent.db')
    cursorobj = con.cursor()
    cursorobj.execute('INSERT INTO student values(?,?,?)',(r,n,g))
    con.commit()
    con.close()

In [40]:
insert(102,"suresh",8.9)

In [9]:
import sqlite3
def create_table():
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS student(rollno INTEGER, name TEXT, gpa REAL)")
    conn.commit()
    conn.close()

In [10]:
create_table()

In [11]:
def view():
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM student")
    rows = cur.fetchall()
    conn.close()
    return rows

In [12]:
view()

[(101, 'Ramesh', 9.0), (102, 'suresh', 8.9)]

In [41]:
insert(103,"Mahesh",9.3)

In [15]:
view()

[(101, 'Ramesh', 9.0), (102, 'suresh', 8.9), (103, 'Mahesh', 9.3)]

In [16]:
def view1(n):
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM student where gpa >?",(n,))
    rows = cur.fetchall()
    conn.close()
    return rows

In [17]:
view1(9.2)

[(103, 'Mahesh', 9.3)]

In [18]:
def view2(n1,n2):
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM student where gpa >? and gpa <?",(n1,n2))
    rows = cur.fetchall()
    conn.close()
    return rows

In [42]:
insert(104,"Dinesh",8.2)

In [43]:
insert(105,"Harish",8.5)

In [21]:
view()

[(101, 'Ramesh', 9.0),
 (102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (104, 'Dinesh', 8.2),
 (105, 'Harish', 8.5)]

In [22]:
view2(8.5,10.0)

[(101, 'Ramesh', 9.0), (102, 'suresh', 8.9), (103, 'Mahesh', 9.3)]

In [23]:
def view3(n1,n2):
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM student where name = ? or name = ?",(n1,n2))
    rows = cur.fetchall()
    conn.close()
    return rows

In [24]:
view3('Ramesh','Basha')

[(101, 'Ramesh', 9.0)]

In [25]:
view3('Ramesh','Dinesh')

[(101, 'Ramesh', 9.0), (104, 'Dinesh', 8.2)]

In [26]:
view()

[(101, 'Ramesh', 9.0),
 (102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (104, 'Dinesh', 8.2),
 (105, 'Harish', 8.5)]

In [27]:
def view4():
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT rollno, gpa FROM student")
    rows = cur.fetchall()
    conn.close()
    return rows

In [28]:
view4()

[(101, 9.0), (102, 8.9), (103, 9.3), (104, 8.2), (105, 8.5)]

In [29]:
def view4(n):
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("SELECT rollno, gpa FROM student where gpa >?",(n,))
    rows = cur.fetchall()
    conn.close()
    return rows

In [30]:
view4(9.0)

[(103, 9.3)]

In [31]:
view4(8.4)

[(101, 9.0), (102, 8.9), (103, 9.3), (105, 8.5)]

In [32]:
# Deleting data from a tabel
def delete(r):
    conn = sqlite3.connect("mystudent.db")
    cur = conn.cursor()
    cur.execute("DELETE FROM student where rollno = ?",(r,))
    conn.commit()
    conn.close()

In [33]:
delete(104)

In [34]:
view()

[(101, 'Ramesh', 9.0),
 (102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (105, 'Harish', 8.5)]

In [35]:
insert(104,"Basha",8.9)

In [36]:
def delete1():
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute('DELETE FROM student')
    conn.commit()
    conn.close()

In [37]:
view()

[(101, 'Ramesh', 9.0),
 (102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (105, 'Harish', 8.5),
 (104, 'Basha', 8.9)]

In [38]:
delete1()

In [39]:
view()

[]

In [44]:
view()

[(102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (104, 'Dinesh', 8.2),
 (105, 'Harish', 8.5)]

In [45]:
insert(101,"Ramesh",9.5)

In [46]:
view()

[(102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (104, 'Dinesh', 8.2),
 (105, 'Harish', 8.5),
 (101, 'Ramesh', 9.5)]

In [47]:
delete(101)

In [48]:
#updating a row in the student table
def update(r,g):
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute('UPDATE student SET gpa =? WHERE rollno =?',(g,r))
    conn.commit()
    conn.close()

In [49]:
update(104,9.3)

In [50]:
view()

[(102, 'suresh', 8.9),
 (103, 'Mahesh', 9.3),
 (104, 'Dinesh', 9.3),
 (105, 'Harish', 8.5)]

In [51]:
#updating a row in the student table
def update1(r,g):
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute('UPDATE student SET gpa =? WHERE rollno =?',(g,r))
    conn.commit()
    conn.close()

In [52]:
update(103,9.0)

In [53]:
view()

[(102, 'suresh', 8.9),
 (103, 'Mahesh', 9.0),
 (104, 'Dinesh', 9.3),
 (105, 'Harish', 8.5)]

In [62]:
def update2(r,n):
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute('UPDATE student SET rollno =? WHERE name =?',(r,n))
    conn.commit()
    conn.close()

In [63]:
update2(103,'Basha')

In [64]:
view()

[(102, 'suresh', 8.5),
 (103, 'Mahesh', 8.5),
 (104, 'Dinesh', 8.5),
 (105, 'Harish', 8.5)]

In [57]:
def update3(g):
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute("UPDATE student SET gpa =?",(g,))
    conn.commit()
    conn.close()

In [58]:
view()

[(102, 'suresh', 8.9),
 (103, 'Mahesh', 9.0),
 (104, 'Dinesh', 9.3),
 (105, 'Harish', 8.5)]

In [59]:
update3(8.5)

In [60]:
view()

[(102, 'suresh', 8.5),
 (103, 'Mahesh', 8.5),
 (104, 'Dinesh', 8.5),
 (105, 'Harish', 8.5)]

In [66]:
def update4(r,n,g):
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute("UPDATE student SET name =?,gpa = ? WHERE rollno =?",(n,g,r))
    conn.commit()
    conn.close()

In [67]:
update4(105,'Dinesh',9.5)

In [68]:
view()

[(102, 'suresh', 8.5),
 (103, 'Mahesh', 8.5),
 (104, 'Dinesh', 8.5),
 (105, 'Dinesh', 9.5)]

In [69]:
# =, >, <, >=, <=, !=
#drop a table
def drop():
    conn = sqlite3.connect('mystudent.db')
    cur = conn.cursor()
    cur.execute("DROP TABLE")
    conn.commit()
    conn.close()

In [ ]:
drop()

In [ ]:
view()