# functions

### built in functions

In [2]:
list = [10, 20, 30, 40, 50]
print(list)
print(max(list))
print(min(list))
print(len(list))
print(type(list))

[10, 20, 30, 40, 50]
50
10
5
<class 'list'>

In [4]:
a = 32.0
b = int(a)
c = str(b)
print(a, b, c)
print(type(a), type(b), type(c))

32.0 32 32
<class 'float'> <class 'int'> <class 'str'>

In [5]:
import math 
n = int(input("Enter a number to find the square root: "))

print(math.sqrt(n))

Enter a number to find the square root: 5
2.23606797749979

#### RANDOM

In [8]:
# random module

import random
print("The value are given between th 0 to 1 =",random.random())

The value are given between th 0 to 1 = 0.16913038168392402

In [12]:
low = int(input("Enter the value ="))
high = int(input("Enter the value ="))
print("a random in beteen the low and high value:",random.randint(low,high))

Enter the value =4
Enter the value =16
a random in beteen the low and high value: 7

In [13]:
low = int(input("Enter the value ="))
high = int(input("Enter the value ="))
print("a random in beteen the low and high value:",random.randint(low,high))

Enter the value =-36465
Enter the value =50235
a random in beteen the low and high value: -21682

In [36]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100)
print(t)
print(type(t))
print(random.choice(t))
print(random.choices(t,k=2))
print(random.randrange(10,15,1))
print(random.randrange(10,15,2))
print(random.uniform(10,15))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100)
<class 'tuple'>
100
[9, 5]
10
12
11.119124185877967

In [28]:
l = [10, 20, 30, 40, 50, 60 , 70]
print(l)
rand = random.shuffle(l)
print(rand)

[10, 20, 30, 40, 50, 60, 70]
None

#### USER DEFINED FUNCTIONS

In [43]:
def my_function():
    print("Hello World!")
my_function()

Hello World!

In [44]:
def function_msg():
    print("Hello world!")
function_msg()

Hello world!

In [108]:
def function_msg():
    name = input("enter the name: ")
    print(name)
function_msg()

enter the name: vinay
vinay

In [50]:
def my_function():
    '''the function display the message hello word!'''
    print("hello world!")
my_function()

print("The is the function call")

my_function()

print("the descripition of display_msg function is:", my_function.__doc__)

hello world!
The is the function call
hello world!
the descripition of display_msg function is: the function display the message hello word!

In [68]:
# function takes arguments / parameters
def display_msg1(msg):
    print("diplay a msg: ",msg)
display_msg1('hello word!')
display_msg1('bye')

diplay a msg:  hello word!
diplay a msg:  bye

In [76]:

def display_msg1(msg):
    msg = input("recieved msg: ")
    print("diplay a msg: ",msg)
display_msg1('msg')

recieved msg: hi world
diplay a msg:  hi world

In [77]:
def square(n):
    res = n*n
    return res
sqr = square(5)
print('the return value is: ',sqr)
print('the square of 345 is: ',square(345))

the return value is:  25
the square of 345 is:  119025

In [79]:
# the function sum of two numbers return
def sum_of_two(x,y):
    return x + y
res = sum_of_two(45,33)
print("the sum of two values",res)

the sum of two values 78

In [80]:
def sub(x,y,z):
    return x+y+z
res = sub(45,32,86)
print("the sub of values", res)

the sub of values 163

In [84]:
#default parameters
def greater(name,prompt='welcome',msg = 'to python programming'):
    print(name,prompt,msg)
greater('vinay')
greater('pravali',msg ="to my world")

greater(msg = 'welcome',name= 'vinay',prompt='hello')

vinay welcome to python programming
pravali welcome to my world
vinay hello welcome

In [87]:
#Arbitrary arguments
#positional and arguments

def greater(*args):
    for name in args:
        print("welcome",name)
greater("vinay","pravali","hari","hema")
greater("ashok",'pravinay')

welcome vinay
welcome pravali
welcome hari
welcome hema
welcome ashok
welcome pravinay

In [91]:
def my_function(*args,**kwargs):
    for arg in args:
        print("arg:",arg)
        
    for key in kwargs.keys():
        print('key', key,'has value',kwargs[key])
        
my_function('vinay',"pravali",son = "hari",daughter = "hema")

arg: vinay
arg: pravali
key son has value hari
key daughter has value hema

In [94]:
my_function("vinay","pravali",son ='hari',daughter1 ='hema',daughter2 ='prasanna')

arg: vinay
arg: pravali
key son has value hari
key daughter1 has value hema
key daughter2 has value prasanna

In [96]:
# function only key words arguments
def named(**kwargs):
    for key in kwargs.keys():
        print('arg:', key,'has value:',kwargs[key])
my_function(a =1,b=2,c=3,d=4,e=5)

key a has value 1
key b has value 2
key c has value 3
key d has value 4
key e has value 5

In [97]:
# global and local
# local variable
def my_function():
    a_variable = 100
    print(a_variable)
my_function()

100

In [98]:
# Global variable
a_variable = 200   # global variable
def my_function():
    a_variable = 100  #local variable
    print(a_variable)
my_function()
print(a_variable)

100
200

In [104]:
a_variable = 200
def my_function():
    global a_variable
    print(a_variable)
    a_variable = 100
    print(a_variable)
my_function()

200
100

In [111]:
x = 200
def my_func1():
    global x
    x = x + 1
    print("the value of x after increment: ",x)
    
my_func1()
print("the value of  x",x)

the value of x after increment:  201
the value of  x 201

In [112]:
def func1():
    x = 100
    print("x in func1",x)
    def func2():
        nonlocal x
        x = x + 1
        print('x in func2 x =',x)
    func2()
    print("in func1 after caling func2 x=",x)
func1()

x in func1 100
x in func2 x = 101
in func1 after caling func2 x= 101

In [7]:
#recursion
'''in this recursion we have to know about the factorial of a digit ! that means n!'''
"""5! = 5 * 4! , 4! = 4 *3!, 3! = 3 * 2!"""
def fact(x):
    if x <= 1:
        return 1
    else:
        return x*fact(x-1)
n = int(input("Enter the digit ="))

print("print the",n,"factorial",fact(n))

Enter the digit =12
print the 12 factorial 479001600

In [10]:
#Anonymous/ Lambda functions
# lambda arguments: expression
# Example square = lambda i:i*i
# prit(square(5))
square = lambda i:i*i
print(square(5))

25

In [11]:
func0 = lambda: print('no args')
func1 = lambda x:x*x
func2 = lambda x,y:x*y
func4 = lambda x,y,z:x+y+z
print("The above functions can be called as:")
func0()
print(func1(4))
print(func2(13,45))
print(func4(2,4,5))

The above functions can be called as:
no args
16
585
11

In [14]:
func6 = lambda x,y,z:print(x*(y**z))
func6(2,3,4)

162

## Higher order function

In [5]:
def apply(x,function):
    result = function(x)
    return result
def square(y):
    return y*y
print(apply(10,square))

100

In [4]:
def apply(a,b,c,function): # higher order function
    result = function(a,b,c)
    return result
def sum(x,y,z):
    return x+y+z
print(apply(10,20,30,sum))

60

In [6]:
def  make_checker(s):
    if s == 'even':return lambda n:n%2 == 0
    elif s == 'positive':return lambda n:n>=0
    elif s == 'negitive':return lambda n:n<=0
f1 = make_checker('even')
f2 = make_checker('positive')
f3 = make_checker('negitive')
print(f1)
print(f2)
print(f3)

<function make_checker.<locals>.<lambda> at 0x0000028B155FAAF0>
<function make_checker.<locals>.<lambda> at 0x0000028B155FAC10>
<function make_checker.<locals>.<lambda> at 0x0000028B15609040>

In [7]:
def  make_checker(s):
    if s == 'even':return lambda n:n%2 == 0
    elif s == 'positive':return lambda n:n>=0
    elif s == 'negitive':return lambda n:n<=0
f1 = make_checker('even')
f2 = make_checker('positive')
f3 = make_checker('negitive')
print(f1(5))
print(f2(5))
print(f3(5))

False
True
False

In [8]:
def  make_checker(s):
    if s == 'even':return lambda n:n%2 == 0
    elif s == 'positive':return lambda n:n>=0
    elif s == 'negitive':return lambda n:n<=0
f1 = make_checker('even')
f2 = make_checker('positive')
f3 = make_checker('negitive')
print(f1(22))
print(f2(5))
print(f3(-6))

True
True
True

### map, reduce and filter

In [10]:
# filter()
data = [1, 56, 24, 75, 65, 6, 6623, 4865, 1356]
print('data: ',data)
def is_even(i):
    return i%2 == 0
# filter of even numbers using a named function
even_data = list(filter(is_even,data))
print('even numbers in the list:', even_data)

data:  [1, 56, 24, 75, 65, 6, 6623, 4865, 1356]
even numbers in the list: [56, 24, 6, 1356]

In [14]:
data = [ 13,45,132,453,184,166,3,565623,3565,3321,4995]
print('data: ', data)
def is_odd(i):
    return i%2 != 0
odd_data = list(filter(is_odd,data))
print('odd data list:',odd_data)

data:  [13, 45, 132, 453, 184, 166, 3, 565623, 3565, 3321, 4995]
odd data list: [13, 45, 453, 3, 565623, 3565, 3321, 4995]

In [16]:
# map function map()
data1 = [1, 2, 3, 4, 5]
data2 = [6, 7, 8, 9, 10]

result = list(map(lambda x,y: x+y, data1,data2))
print("Enter the sum of two set: ",result)

Enter the sum of two set:  [7, 9, 11, 13, 15]

In [17]:
data = [10, 20, 30, 40, 50]
print("data:", data)
def square(i):
    return i*i
result = list(map(square, data))
print("the final result", result)

data: [10, 20, 30, 40, 50]
the final result [100, 400, 900, 1600, 2500]

In [19]:
# reduce()
from functools import reduce
data = [10, 20, 30, 40, 50]
result = reduce(lambda total,value : total + value, data)
print("the final result", result)

the final result 150

In [20]:
result = reduce(lambda total,value:total*value,data)
print("The total value of data",result)

The total value of data 12000000

In [24]:
for j in range(10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [27]:
## functions 
def evenodd(num):
    '''evenodd Function: this is function will test whether it is even or odd'''
    if num %2 == 0:
        print("the number is even")
    else:
        print("the number is odd")
evenodd(5)

the number is odd

In [29]:
evenodd(10)

the number is even

In [32]:
print(evenodd.__doc__)

evenodd Function: this is function will test whether it is even or odd

In [33]:
var = 100
def myfunc():
    print(var)
myfunc()
print(var)

100
100

In [36]:
var2 = 120
def myfunc1():
    var1 = 10
    print(var1)
def myfunc2():
    print(var2)
myfunc1()
myfunc2()

10
120

In [45]:
addtwonos(10,20)
def addtwonos(x,y):
    return x+y
print(addtwonos(10,20))

def addthreenos(x,y,z):
    return x+y+z
print(addtwonos(10,20))
print(addthreenos(50,60,70))

def addrandom(x,y,z,s):
    return x+y+z+s
print(addrandom(45, 54, 46,5))

30
30
180
150

In [1]:
def add1(*args):
    return sum(args)

print(add1(10, 20, 30))
print(add1(10, 20, 30, 40))
print(add1(10, 20, 30, 40, 50))
print(add1(10, 10, 30, 40, 50, 60))


list1 = [10, 20, 30, 40, 50, 60]
tuple1 = (10, 20, 30, 40, 50, 60)

print(add1(*list1))
print(add1(*tuple1))

60
100
150
200
210
210

In [2]:
def add1(*args):
    return sum(args)

list1 = [10, 20, 30, 40, 50, 60]
tuple1 = (10, 20, 30, 40, 50, 60)

print(add1(*list1))
print(add1(*tuple1))

210
210

In [10]:
def add1(*args):
    return sum(args)
print(add1(556,646))

1202

In [5]:
def add1(*args):
    return sum(args)

list1 = [10, 20, 30, 40, 50, 60]
list2 = [10, 20, 30, 40, 50, 60]
list3 = [10, 20, 30, 40, 50, 60]
list4 = [10, 20, 30, 40, 50, 60]

print(add1(*list1, *list2, *list3,*list4))

840

In [80]:
def userdetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
userdetails(Name = "vinay sai", age = 21, place = "Chilakapalli", pincode = 535557 )

Name :- vinay sai
age :- 21
place :- Chilakapalli
pincode :- 535557

In [81]:
userdetails(Name = "pravalika", age = "18", place = "Chodavaram", pincode = "53647" )

Name :- pravalika
age :- 18
place :- Chodavaram
pincode :- 53647

In [83]:
def userdetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
userdetails(Name = input(), age = int(input()), place = input(), pincode = int(input()) )

vinay
21
chilakapalli
535557
Name :- vinay
age :- 21
place :- chilakapalli
pincode :- 535557

In [89]:
Name = input("Enter your name: ")
Age = int(input("Enter your age: "))
Place = input("Enter your place: ")
Pincode = int(input("Enter your pincode"))
def userdetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
userdetails(Name = Name, Age = Age, Place = Place, Pincode = Pincode)

Enter your name: vinay sai
Enter your age: 21
Enter your place: chilakalapalli
Enter your pincode535557
Name :- vinay sai
Age :- 21
Place :- chilakalapalli
Pincode :- 535557

In [94]:
data = {'Name' : 'vinay sai', 'Age' : 21, 'Place' : 'chilakapalli', 'Pincode' : 535557}

userdetails(**data)

Name :- vinay sai
Age :- 21
Place :- chilakapalli
Pincode :- 535557

In [102]:
def userdetails(licenseno, *args, phonenumber =0, **kwargs):
    print('license No:-', licenseno)
    j=''
    for i in args:
        j = j+i
    print('full name:-',j)
    print('phone Number',phonenumber)
    for key,val in kwargs.items():
        print("{} :-{}".format(key,val))
    
name = {"vinay sai"}
mydict = {'name': "vinay sai", 'age': 21}
userdetails('hj236g', *name, phonenumber=1234567890,**mydict)

license No:- hj236g
full name:- vinay sai
phone Number 1234567890
name :-vinay sai
age :-21