# 1.Create a database called temp_db. Open a cursor to this newly created database.

In [5]:
import sqlite3
con=sqlite3.connect('temp_db')
cur=con.cursor()

# 2.In the database temp_db created in Q.No.1, create a table called emp with the attributes empno, ename, salary and deptno\

In [6]:
cur.execute('create table if not exists emp(empno INTEGER,ename TEXT,salary INTEGER,deptno INTEGER)')

# 3.In the emp table created in Q.No. 2, insert any five records.

In [7]:
def insert(empno,ename,salary,deptno):
    cur.execute('insert into emp values(?,?,?,?)',(empno,ename,salary,deptno))
    con.commit()

In [8]:
insert(1,'Rose',15000,10)
insert(2,'Mia Madison',20000,20)
insert(3,'Ashley stonegal',25000,30)
insert(4,'Andrew olesten',30000,40)
insert(5,'Danny',35000,50)
insert(6,'Andy sas',35000,60)
insert(7,'Mia cummins',35000,70)
insert(8,'Assli cumms',45000,80)

# 4.From the emp table, display all the records.

In [9]:
def view():
    con=sqlite3.connect('temp_db')
    cur=con.cursor()
    cur.execute('select * from emp')
    rows=cur.fetchall()
    con.close()
    return rows

In [10]:
view()

[(1, 'Rose', 15000, 10),
 (2, 'Mia Madison', 20000, 20),
 (3, 'Ashley stonegal', 25000, 30),
 (4, 'Andrew olesten', 30000, 40),
 (5, 'Danny', 35000, 50),
 (6, 'Andy sas', 35000, 60),
 (7, 'Mia cummins', 35000, 70),
 (8, 'Assli cumms', 45000, 80)]

# 5.From the emp table, display the records of only those employees whose salary is greater than 15000 and who belong to deptno 10

In [11]:
def view1():
    con=sqlite3.connect('temp_db')
    cur=con.cursor()
    cur.execute('select * from emp where salary>15000 and deptno==10')
    rows=cur.fetchall()
    con.close()
    return rows

In [12]:
view1()

[]

# 6.From the emp table, display the records of only those employees whose salary lies between 20000 and 25000 and who do not belong to the deptno 10.

In [13]:
def view2():
    con=sqlite3.connect('temp_db')
    cur=con.cursor()
    cur.execute('select * from emp where salary>=20000 and salary<=25000 and deptno!=10')
    rows=cur.fetchall()
    con.close()
    return rows

In [14]:
view2()

[(2, 'Mia Madison', 20000, 20), (3, 'Ashley stonegal', 25000, 30)]

# 7.From the emp table, display the records of only those employees whose name begins with M.

In [24]:
 SELECT * FROM temp_db WHERE ename LIKE 'M%';

SyntaxError: invalid syntax (<ipython-input-24-0a0423904fae>, line 1)

# 8.In the emp table, delete the records of those employees who belong to deptno 30

In [17]:
def view4():
    con=sqlite3.connect('temp.db')
    cur=con.cursor()
    cur.execute('delete from emp where deptno==30')
    rows=cur.fetchall()
    con.close()
    return rows

In [18]:
view4()

[]

# 9.In the emp table, update the salary of an employee by 10 % by accepting the empno from the user.

In [31]:
def update(emp):
    con=sqlite3.connect("temp_db")
    cur=con.cursor()
    cur.execute("update emp set salary=salary+(salary*10/100) where empno=?",(emp,))
    con.commit()
    con.close()
    
update(emp)
    
view()

NameError: name 'emp' is not defined

# 10.Delete the emp table.

In [23]:
def delete(r):
    con=sqlite3.connect("temp_db")
    cur=con.cursor()
    cur.execute('DELETE emp in temp_db','r,')
    con.commit()
    con.close()
    
view()

delete(r)

NameError: name 'r' is not defined