In [20]:
list = [30,40,50]
print(list)
print(type(list))
list2 = ['python',20,40]
print(list2[0])
print(list2)

[30, 40, 50]
<class 'list'>
python
['python', 20, 40]

In [2]:
s = 'hello world'
print(s)
l1 = list(s)
print(l1)
print(len(l1))

hello world
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
11

In [3]:
l4 = list()
print(l4)
print(len(l4))

[]
0

In [4]:
str = "hello"
print(str)
list4 = list(str)
print(list4)
print(len(list4))

hello
['h', 'e', 'l', 'l', 'o']
5

In [24]:
list = [10,20,30,40,50,60,70,80,90]
print(list)
print(list[2])
print(list[:5])
print(list[0:])
print(list[1:6])
print(list[-3])
print(list[-3:-1])
print(list[:-2])
print(list[:])
list[2:4] = [50,60]
print(list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
30
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 30, 40, 50, 60]
70
[70, 80]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 50, 60, 50, 60, 70, 80, 90]

In [25]:
t1 = [1,'vinay',25.3]
t2 = ['pravali',15,8.3]

t = t1 + t2

print(t)

[1, 'vinay', 25.3, 'pravali', 15, 8.3]

## adding and removing the elements in the lis

In [26]:
print(t)

[1, 'vinay', 25.3, 'pravali', 15, 8.3]

In [27]:
x = input("enter something: ")
t.append(x)
print("adding the word in list:",t)

enter something: vinay
adding the word in list: [1, 'vinay', 25.3, 'pravali', 15, 8.3, 'vinay']

In [28]:
t.insert(2,'pravalika')
print(t)

[1, 'vinay', 'pravalika', 25.3, 'pravali', 15, 8.3, 'vinay']

In [29]:
t.remove('vinay')
print(t)

[1, 'pravalika', 25.3, 'pravali', 15, 8.3, 'vinay']

In [30]:
t.pop(3)
print(t)

[1, 'pravalika', 25.3, 15, 8.3, 'vinay']

In [31]:
t.pop()
print("remove the last element in the list",t)

remove the last element in the list [1, 'pravalika', 25.3, 15, 8.3]

In [32]:
del t[2:4]
print(t)

[1, 'pravalika', 8.3]

In [33]:
print(t2)
t2.clear()
print(t2)

['pravali', 15, 8.3]
[]

In [34]:
t2=t.copy()
print(t2)

[1, 'pravalika', 8.3]

In [36]:
t2.append('pravalika')
t2.append("vinay")
print(t2)

[1, 'pravalika', 8.3, 'pravalika', 'vinay']

In [37]:
print("count the number of pravalika name repeat",t2.count("pravalika"))

count the number of pravalika name repeat 2

In [41]:
print(t1)
print(t2)

print(t1.extend(t2))

[1, 'vinay', 25.3, 1, 'pravalika', 8.3, 'pravalika', 'vinay', 1, 'vinay', 25.3]
[1, 'pravalika', 8.3, 'pravalika', 'vinay', 1, 'vinay', 25.3]
None

In [42]:
t1 = [1,'vinay',25.3]
t2 = ['pravali',15,8.3]

t2.extend(t1)

print(t2)

['pravali', 15, 8.3, 1, 'vinay', 25.3]

In [47]:
print(t2)

print(t2.index(1))

['pravali', 15, 8.3, 1, 'vinay', 25.3]
3

In [49]:
t2.reverse()
print(t2)

[25.3, 'vinay', 1, 8.3, 15, 'pravali']

In [50]:
t3 = [10,90,20,70,30,80,40,60,50]

t3.sort()
print(t3)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [54]:
x = ['vinay','pravalika','hema','hari','ashok']

print("tne names of list",x)

for i in x:
    print("hello " +i)

tne names of list ['vinay', 'pravalika', 'hema', 'hari', 'ashok']
hello vinay
hello pravalika
hello hema
hello hari
hello ashok

In [56]:
print(x)

name_val = input("enter the name to se3arching in the list =")

if name_val in x:
    print("yes",name_val,"in the given list")
else:
    print("no",name_val,"in the given list")

['vinay', 'pravalika', 'hema', 'hari', 'ashok']
enter the name to se3arching in the list =hari
yes hari in the given list

In [57]:
print(x)

name_val = input("enter the name to se3arching in the list =")

if name_val in x:
    print("yes",name_val,"in the given list")
else:
    print("no",name_val,"in the given list")

['vinay', 'pravalika', 'hema', 'hari', 'ashok']
enter the name to se3arching in the list =pravi
no pravi in the given list

## Tuple

In [58]:
tuple = (10,20,30,40,50,60)
print(tuple)

(10, 20, 30, 40, 50, 60)

In [2]:
list6 = [50,60,40,50,70,80,90]
t1 = tuple(list6)
print(t1) 
print(type(t1))

(50, 60, 40, 50, 70, 80, 90)
<class 'tuple'>

In [6]:
print(t1)
print(len(t1))
print(t1[:6])
print(t1[1])
print(t1[2:])
print(t1[1:6])
print(t1[-3])
print(t1[:-1])
print(t1[-4:-2])

(50, 60, 40, 50, 70, 80, 90)
7
(50, 60, 40, 50, 70, 80)
60
(40, 50, 70, 80, 90)
(60, 40, 50, 70, 80)
70
(50, 60, 40, 50, 70, 80)
(50, 70)

### tuple operations

In [8]:
tuple = (10,20, 'vinay',23.6,'pravalika')

for i in tuple:
    print(i)
if 'vinay' in tuple:
    print("vinay in the tuple")

10
20
vinay
23.6
pravalika
vinay in the tuple

In [11]:
tup1 = (10,20,30,40,50)
tup2 = ('vinay','pravalika','hari','hema','ashok')

tup3 =(10,30,tup1,tup2,45.3)
print(tup3)
print(tup3[2])
print(tup3[3][1])

(10, 30, (10, 20, 30, 40, 50), ('vinay', 'pravalika', 'hari', 'hema', 'ashok'), 45.3)
(10, 20, 30, 40, 50)
pravalika

In [13]:
print((0,1,20000)<(2,3,4))

True

In [14]:
print((10,20,30)>(40,50,60))

False

In [15]:
print((10,20,30)<(40,50,60))

True

## sets

In [18]:
s1 = {10,20,30,40,50}
s2 = {'vinay','pravlika','pravinay'}


print(s1)
print(s2)

l = [20,30,40,50,60,70]

s3 = set(l)
print(s3)

{50, 20, 40, 10, 30}
{'pravinay', 'pravlika', 'vinay'}
{70, 40, 50, 20, 60, 30}

In [20]:
basket = {'apple','banana','grape','orange','mango'}

for i in basket:
    print(i)
    
if 'orange' in basket:
    print("yes orange in basket")
else:
    print("no orange is not in basket")

apple
mango
grape
banana
orange
yes orange in basket

In [32]:
basket = {'apple','banana','grape','orange','mango'}
basket.add('vinay')
basket.update(['watermelon','custed apple'])
print(basket)

{'apple', 'mango', 'grape', 'custed apple', 'watermelon', 'banana', 'orange', 'vinay'}

In [33]:
print(len(basket))

8

In [36]:
s1 ={10,65,42,91,2,42,50,.03,54}
print(min(s1),max(s1))

0.03 91

In [37]:
basket.remove('vinay')
print(basket)

{'apple', 'mango', 'grape', 'custed apple', 'watermelon', 'banana', 'orange'}

In [38]:
s1 = {'vinay sai loves'}
s2 = {'pravalika'}

print(s1|s2)

{'vinay sai loves', 'pravalika'}

In [41]:
s1 = {10,20,30,40,50,60}
s2 = {30,40,50,60,70,80}

print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s2-s1)
print(s1^s2)

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 50, 60, 30}
{40, 50, 60, 30}
{10, 20}
{80, 70}
{80, 20, 70, 10}

In [44]:
s1 = {'vinay','pravali','hari','hema'}
s2 = {'ashok', 'vinay','prasanna','pravali'}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))

{'pravali', 'hema', 'hari', 'ashok', 'prasanna', 'vinay'}
{'pravali', 'vinay'}
{'hema', 'hari'}
{'ashok', 'prasanna'}
{'hema', 'hari', 'ashok', 'prasanna'}

### dictionarey

In [2]:
dict = {'telangana':'hydrabad','andhra pradesh':'amaravathi','oddisa':'bhuvaneshwar','tamil nadu':'chennai'}

print(dict)

{'telangana': 'hydrabad', 'andhra pradesh': 'amaravathi', 'oddisa': 'bhuvaneshwar', 'tamil nadu': 'chennai'}

In [5]:
dict1 = dict['tamil nadu']
print(dict['oddisa'])
print(dict1)

bhuvaneshwar
chennai

In [17]:
d1 = {'vinay':'pravalika'}
dict.update(d1)
print(dict)
for i in dict:
    print(i)

{'telangana': 'hydrabad', 'andhra pradesh': 'amaravathi', 'oddisa': 'bhuvaneshwar', 'tamil nadu': 'chennai', 'vinay': 'pravalika'}
telangana
andhra pradesh
oddisa
tamil nadu
vinay

In [16]:
d2 = {'name':'vinaypravalika','age':'25','relationship':'married'}
d2.clear()
print(d2)

{}

In [11]:
d2 = dict.copy()
print(d2)

{'telangana': 'hydrabad', 'andhra pradesh': 'amaravathi', 'oddisa': 'bhuvaneshwar', 'tamil nadu': 'chennai', 'vinay': 'pravalika'}

In [12]:
d3 = {i:i**2 for i in range(10) if 1}
print(d3)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
d4 = {i:i**2 for i in range(100) if i%2 == 0}
print(d4)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304, 50: 2500, 52: 2704, 54: 2916, 56: 3136, 58: 3364, 60: 3600, 62: 3844, 64: 4096, 66: 4356, 68: 4624, 70: 4900, 72: 5184, 74: 5476, 76: 5776, 78: 6084, 80: 6400, 82: 6724, 84: 7056, 86: 7396, 88: 7744, 90: 8100, 92: 8464, 94: 8836, 96: 9216, 98: 9604}

In [14]:
d5 = {i:i**2 for i in range(100) if i%2 != 0}
print(d5)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625, 27: 729, 29: 841, 31: 961, 33: 1089, 35: 1225, 37: 1369, 39: 1521, 41: 1681, 43: 1849, 45: 2025, 47: 2209, 49: 2401, 51: 2601, 53: 2809, 55: 3025, 57: 3249, 59: 3481, 61: 3721, 63: 3969, 65: 4225, 67: 4489, 69: 4761, 71: 5041, 73: 5329, 75: 5625, 77: 5929, 79: 6241, 81: 6561, 83: 6889, 85: 7225, 87: 7569, 89: 7921, 91: 8281, 93: 8649, 95: 9025, 97: 9409, 99: 9801}

In [ ]:
d6 = {}