In [1]:
str1 = "hello"

str = str1*10

print(str)

hellohellohellohellohellohellohellohellohellohello

In [16]:
str2 = "hi vinay"
str3 = "star of the mechanical"
str4 = """hello vinay sai
          rangumudri
          this is pravi
"""

print(str2)
print(str3)
print(str4)

hi vinay
star of the mechanical
hello vinay sai
          rangumudri
          this is pravi

In [20]:
string_1 = "ilove you "
string_2 = "pravlika"
string_3 = string_1 + string_2

print(string_3)

ilove you pravlika

In [1]:
print('hello '+'world')

hello world

In [6]:
string_1 = "hello vinay sai"
print(string_1)
print("the length of the string_1 = ",len(string_1))

hello vinay sai
the length of the string_1 =  15

In [7]:
print(string_1[:])

hello vinay sai

In [8]:
print(string_1[4])

o

In [9]:
print(string_1[:6])

hello

In [10]:
print(string_1[2:])

llo vinay sai

In [11]:
print(string[2:9])

llo vin

In [14]:
str = 'vinu '*5
print(str)

vinu vinu vinu vinu vinu

In [19]:
str = '#' * 21
print(str)

#####################

In [29]:
str1 = "vinay loves pravalika"
print("string seperastion",str1.split( ))
print(str1.split('*'))
print(str1.split(' # '))
print(str1.split())

string seperastion ['vinay', 'loves', 'pravalika']
['vinay loves pravalika']
['vinay loves pravalika']
['vinay', 'loves', 'pravalika']

In [32]:
str2 = "we are indians, we love our country, we have lot of peoples"
print(str2.split( ))

['we', 'are', 'indians,', 'we', 'love', 'our', 'country,', 'we', 'have', 'lot', 'of', 'peoples']

In [45]:
str3 = 'welcome, to the python, of new strings'
print(str3)
print(str3.split(','))
print(str3.split('.'))
print(str3.split('#'))
print(str3.split())


print(str3.find('the'))

print(str3.count('e'))

print(str3.replace('python','java'))

print(str3.find('java'))

welcome, to the python, of new strings
['welcome', ' to the python', ' of new strings']
['welcome, to the python, of new strings']
['welcome, to the python, of new strings']
['welcome,', 'to', 'the', 'python,', 'of', 'new', 'strings']
12
4
welcome, to the java, of new strings
-1

In [65]:
str1 = 'vinay'
str2 = 'Pravalika'
str3 = '12345688'

print(str1 == str2)
print(str1 != str2)

print(str1.startswith('v'))
print(str1.startswith('V'))
print(str1.endswith('y'))
print(str2.endswith('a'))
print(str1.istitle())
print(str2.istitle())
print(str1.islower())
print(str1.isupper())
print(str1.isalpha())
print(str3.isalpha())

print(str2.upper())
print(str1.upper())
print(str1.upper() , str2.upper())

print(str2.title())

print(str2.swapcase())# if it is lower to became  an upper  if it is upper it became an lower

False
True
True
False
True
True
False
True
True
False
True
False
PRAVALIKA
VINAY
VINAY PRAVALIKA
Pravalika
pRAVALIKA

# markdown operations
## ==, !=, <=, >= ,< >

In [75]:
a = 10
b = 20
c = 30
print( a > b)
print( a < b)
print( a != b)
print(a == b)
print( a<= b)
print( a>= b)

False
True
True
False
True
False

## logical relations 
### or and not

In [77]:
c = 30
print(a, b, c)
print(a>b and a>c)
print(a>b or a>c)
print( not a>b)

10 20 30
False
False
True

# if operation

In [4]:
str = int(input("enter the value of digit :"))

if str > 0:
    print("the enter value is",str,"positive")
elif str < 0:
    print("the enter value is",str,"negitive")
else:
    print("the enter value is",str,"whole number")
    
print("the program completed")

enter the value of digit :-52
the enter value is -52 negitive
the program completed

In [6]:
x = int(input("enter the value of digit"))

if x%2 == 0:
    print("the value of digit",x,"even")
else:
    print("the value of digit",x,"odd")

enter the value of digit15
the value of digit 15 odd

In [7]:
x = int(input("enter the value of digit"))
y = int(input("enter the value of digit"))

if x >= y:
    print("the value of digiit",x,"greater than or equal",y)
elif x <= y:
    print("the value of digit",x,"less than or equal",y)
else:
    print("the value of digit",x,y,"both are equal")

enter the value of digit15
enter the value of digit13
the value of digiit 15 greater than or equal 13

In [9]:
x = int(input("enter the value of digit"))
y = int(input("enter the value of digit"))

if x==y:
    print("the values are equal",x,y)
elif x>=y:
    print*("the value of ",x,"greater than or equal",y)
else:
    if x <= y:
        print("the value of",x,"lessthan or equal",y)
    else:
        print("the value of",x,y,"both are not equal")

enter the value of digit15
enter the value of digit32
the value of 15 lessthan or equal 32

In [11]:
x = int(input("enter the value of digit"))
y = int(input("enter the value of digit"))

if x==y and x <= 10:
    print("the values are equal",x,y)
elif x>=y:
    print*("the value of ",x,"greater than or equal",y)
else:
    if x <= y:
        print("the value of",x,"lessthan or equal",y)
    else:
        print("the value of",x,y,"both are not equal")

enter the value of digit6
enter the value of digit15
the value of 6 lessthan or equal 15

In [19]:
x = int(input("enter the value of digit"))
if x >0:
    if x<10:
        print("it is single digit")

enter the value of digit5
it is single digit

In [21]:
x = int(input("enter the value of digit"))
if x >0 and x<10:
    print("it is single digit")

enter the value of digit5
it is single digit

In [26]:
chr = input("enter a charecter= ")

if chr.isalpha():
    print("the enter word is charecter")
    if chr.islower():
        print("the character is lower")
    else:
        print("the character is upper")

enter a charecter= vinnu
the enter word is charecter
the character is lower

In [30]:
chr = input("enter a charecter= ")

if chr.isalpha():
    print("the enter word is charecter")
    if chr.islower():
        print("the character is lower")
        if chr.upper():
            print("upper case",chr.upper())

enter a charecter= vinnu
the enter word is charecter
the character is lower
upper case VINNU

In [35]:
chr = input("enter a charecter= ")

if chr.isalpha():
    print("the enter word is charecter")
    if chr.islower():
        print("the character is lower")
    elif chr.isupper():
        print("the charater is upper")
elif chr.isdigit():
    print("the charater is digit")
elif chr.isspace():
    print("the charecter is space")
else:
    print("the charater not let")

enter a charecter=
the charecter is space

In [4]:
month = input('enter the month you will get the number of dates in that month: ')

if month =='January' or month =='March' or month =='May' or month =='July' or month =='August' or month == 'October' or month =='December':
    print("the",month,"having 31 days")
elif month =='April' or month =='June' or month =='July' or month =='September' or month =='November':
    print("the",month,"having 30days")
else:
    year = input('enter the year leap (yes or no) = ')
    if month =='February' or year == yes:
        print("the",month,"is leap year having 28days")
    elif month =='February' or year == no:
        print("the",month,"is not leap year having 29days")
    else:
        print("hence month is invalid")

enter the month you will get the number of dates in that month: February
enter the year leap (yes or no) = yes
the February is leap year having 28days

In [6]:
month = input('enter the month you will get the season: ')

if month == 'march' or month == 'april' or month == 'may' or month == 'june':
    print("the",month,"is summer season")
elif month == 'july' or month == 'august' or month == 'september' or month == 'october':
    print("the",month,"is rainy season")
elif month == 'november' or month == 'december' or month == 'january' or month == 'february':
    print('the',month,"is winter season")
else:
    print('month is invalid! please check it')

enter the month you will get the season: december
the december is winter season

In [8]:
x = int(input('enter the value of first digit: '))
y = int(input("enter the value of second digit: "))
z = int(input('enter the value of third digit: '))

if x>y and x>z:
    print("the value of",x,"is greater than the",y,z)
elif y>x and y>z:
    print("the value of",y,"is greater than the",x,z)
else:
    print("the value of",z,"is greater than the",x,y)

enter the value of first digit: 10
enter the value of second digit: 20
enter the value of third digit: 30
the value of 30 is greater than the 10 20