In [ ]:
#lambda,filter,reduce and map

#Numpy

In [ ]:
_____ function is known as anonymous function
#lambda

In [10]:
#lambda function can take any number of arguments but expression will be only one
x=lambda d,b,c,a:(((a+b)/c)*d)

In [11]:
print(x(1,2,3,4))

2.0

In [6]:
def func1(n):
    return lambda a:a**n

x=func1(4)
print(x)
print(x(5))

<function func1.<locals>.<lambda> at 0x000001DFC28B0790>
625

In [ ]:
#map function that returns a map object (which is an iterator ) after applying function to each item of iterable
#function=sqr
#seq=[1,2,3,4,5,6]
#map(fun,seq)
#[1,4,9,16,25,36]

In [15]:
def sqr(n):#function
    return n**2
#we want the sum of first 50 natural no
seq=range(1,51) #[1,2,3,4,5,..50]

res=map(add,seq)
print(list(res))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [17]:
def sqrt(n):#function
    return n**0.5
#we want the sum of first 50 natural no
seq=range(1,51) #[1,2,3,4,5,..50]

res=map(sqrt,seq)
print(list(res))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755]

In [ ]:
#map(function,sequence)

In [18]:
#filter function
#65 students
#marks of each student
#passing marks is 35

def function(mark):
    if mark>35:
        return True
    else:
        return False
    
seq=[23,45,67,67,34,56,78,89,100,23,24]
filtered=filter(function,seq)

In [19]:
print('The students who have passed are:')
for s in filtered:
    print(s)

The students who have passed are:
45
67
67
56
78
89
100

In [21]:
def function1(variable):
    vowels=['a','e','i','o','u']
    if variable in vowels:
        return True
    else:
        return False

seq=['a','t','m','r','e','r','t','u','i','e','t','s','k','l','l','c']

filtered=filter(function1,seq)
print('The filtered vowels are')
for s in filtered:
    print(s)

The filtered vowels are
a
e
u
i
e

In [31]:
#reduce function is used to apply a particular function passed in its argument
#reduce function is part of functools library 
#reduce function is generally used with lambda function

seq1=[1,2,3,4,5,6,7,10,15,20,24,30,35,10,4,2,3,1,3,23,4,2,4,4,24]
print(len(seq1))

#max as well as sum
import functools

sum1=0
for i in seq1:
    sum1+=i
    
print(sum1)

25
246

In [32]:
print('The average of the list is',functools.reduce(lambda a,b:((a+b)),seq1)/len(seq1))

The average of the list is 9.84

In [24]:
print('The maximum of the list is',functools.reduce(lambda a,b:a if a>b else b,seq1))

The maximum of the list is 35

In [ ]:
____ is the only drawback of python?
#python is interpreted language 
#it executes the code line by line 
#thus due to this , the time taken for python to execute code is higher as compared to other libraries
#we write a library (list of functions written in C,C++)

#Libraries like numpy,pandas,sklearn

_____ amongst the following is not a library used for analytics or data science?
A.re
B.tensorflow
C.pandas
D.ggplot2