## OOPS - Object oriented program

In [35]:
class Employee:
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print('Name   :',self._name)
        print('Age    :',self._age)
        print('Salary :',self._salary)

In [36]:
e1 = Employee()
e1.set_data('Vinay',25,53000)
e2 = Employee()
e2.set_data('Pravalika',21,60000)

e1.display_data()
print('*'*15)
e2.display_data()
print('*'*15)

e3 = Employee()
e3.set_data('Hema',20,55000)
e4 = Employee()
e4.set_data('Hari',22,56000)

e3.display_data()
print('*'*15)
e4.display_data()

Name   : Vinay
Age    : 25
Salary : 53000
***************
Name   : Pravalika
Age    : 21
Salary : 60000
***************
--------------------------------------------------------------------------------
{ Deleting the object : <__main__.Employee object at 0x0000028A2C6D6730> }
--------------------------------------------------------------------------------
Name   : Hema
Age    : 20
Salary : 55000
***************
Name   : Hari
Age    : 22
Salary : 56000

In [38]:
print(vars(Employee))

{'__module__': '__main__', 'set_data': <function Employee.set_data at 0x0000028A2C6D0C10>, 'display_data': <function Employee.display_data at 0x0000028A2C6D0700>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [41]:
vars(Employee)

mappingproxy({'__module__': '__main__',
              'set_data': <function __main__.Employee.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee.display_data(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [42]:
class Employee:
    """An Employee class to create and 
    manipulate Employee objects"""
    def __init__(self,n='',a=0,s=0.0):
        self._name   = n
        self._age    = a
        self._salary = s
    def set_data(self,n,a,s):
        self._name   = n
        self._age    = a
        self._salary = s
    def display_data(self):
        print('Name   :',self._name)
        print('Age    :',self._age)
        print('salary :',self._salary)

In [43]:
e1 = Employee('Vinay',25,53000)

e2 = Employee('Pravalika',21,60000)

e1.display_data()
print('*'*15)
e2.display_data()
print('*'*15)

e3 = Employee()
e3.display_data()
print('~'*15)
e3.set_data('Hema',20,55000)

e4 = Employee()
e4.set_data('Hari',22,56000)

e3.display_data()
print('*'*15)
e4.display_data()

Name   : Vinay
Age    : 25
salary : 53000
***************
Name   : Pravalika
Age    : 21
salary : 60000
***************
Name   :
Age    : 0
salary : 0.0
~~~~~~~~~~~~~~~
Name   : Hema
Age    : 20
salary : 55000
***************
Name   : Hari
Age    : 22
salary : 56000

In [44]:
vars(Employee)

mappingproxy({'__module__': '__main__',
              '__doc__': 'An Employee class to create and \n    manipulate Employee objects',
              '__init__': <function __main__.Employee.__init__(self, n='', a=0, s=0.0)>,
              'set_data': <function __main__.Employee.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee.display_data(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>})

In [47]:
# demonistraion inti and del functions in Employee class
class Employee:
    """An Employee class to create and 
    manipulate Employee objects"""
    def __init__(self,n='',a=0,s=0.0):
        self._name   = n
        self._age    = a
        self._salary = s
    def set_data(self,n,a,s):
        self._name   = n
        self._age    = a
        self._salary = s
    def display_data(self):
        print('Name   :',self._name)
        print('Age    :',self._age)
        print('salary :',self._salary)
        
    def __del__(self):
        print('-'*80)
        print("{ Deleting the object : "+str(self),'}')
        print('-'*80)

In [48]:
e1 = Employee('Vinay',25,53000)

e2 = Employee('Pravalika',21,60000)

e1.display_data()
print('*'*15)
e2.display_data()
print('*'*15)

e3 = Employee()
e3.display_data()
print('~'*15)
e3.set_data('Hema',20,55000)

e4 = Employee()
e4.set_data('Hari',22,56000)

e3.display_data()
print('*'*15)
e4.display_data()

--------------------------------------------------------------------------------
{ Deleting the object : <__main__.Employee object at 0x0000028A2C6866D0> }
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
{ Deleting the object : <__main__.Employee object at 0x0000028A2C686730> }
--------------------------------------------------------------------------------
Name   : Vinay
Age    : 25
salary : 53000
***************
Name   : Pravalika
Age    : 21
salary : 60000
***************
--------------------------------------------------------------------------------
{ Deleting the object : <__main__.Employee object at 0x0000028A2C6C19A0> }
--------------------------------------------------------------------------------
Name   :
Age    : 0
salary : 0.0
~~~~~~~~~~~~~~~
--------------------------------------------------------------------------------
{ Deleting the object : <__main__.Employee object at 0x0000028A2C6C1250> }
--------------------------------------------------------------------------------
Name   : Hema
Age    : 20
salary : 55000
***************
Name   : Hari
Age    : 22
salary : 56000

In [49]:
vars(Employee)

mappingproxy({'__module__': '__main__',
              '__doc__': 'An Employee class to create and \n    manipulate Employee objects',
              '__init__': <function __main__.Employee.__init__(self, n='', a=0, s=0.0)>,
              'set_data': <function __main__.Employee.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee.display_data(self)>,
              '__del__': <function __main__.Employee.__del__(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>})

In [29]:
# demonistrate class variables and class methods
class Employee2:
    
    instance_count = 0
    def __init__(self,n='',a=0,s=0.0):
        Employee2.increment_instance_count()
        self._name   = n
        self._age    = a
        self._salary = s
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print('Name   :',self._name)
        print('Age    :',self._age)
        print('Salary :',self._salary)
    @classmethod
    def increment_instance_count(cls):
        cls.instance_count += 1

In [30]:
e1 = Employee2()
e2 = Employee2('vinay',25,55000)
e3 = Employee2('pravalika',21,60000)
print("Number of Employee objects created so far : ",Employee2.instance_count)

Number of Employee objects created so far :  3

In [32]:
#vars and dir functions

print(vars(Employee2))

{'__module__': '__main__', 'instance_count': 3, '__init__': <function Employee2.__init__ at 0x0000028A2C6DE1F0>, 'set_data': <function Employee2.set_data at 0x0000028A2C6DE310>, 'display_data': <function Employee2.display_data at 0x0000028A2C6DE3A0>, 'increment_instance_count': <classmethod object at 0x0000028A2C78E100>, '__dict__': <attribute '__dict__' of 'Employee2' objects>, '__weakref__': <attribute '__weakref__' of 'Employee2' objects>, '__doc__': None}

In [33]:
vars(Employee2)

mappingproxy({'__module__': '__main__',
              'instance_count': 3,
              '__init__': <function __main__.Employee2.__init__(self, n='', a=0, s=0.0)>,
              'set_data': <function __main__.Employee2.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee2.display_data(self)>,
              'increment_instance_count': <classmethod at 0x28a2c78e100>,
              '__dict__': <attribute '__dict__' of 'Employee2' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee2' objects>,
              '__doc__': None})

In [53]:
print(dir(e1))

['__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_age', '_name', '_salary', 'display_data', 'set_data']

In [54]:
dir(e1)

['__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_age',
 '_name',
 '_salary',
 'display_data',
 'set_data']

In [58]:
class Quantity:
    def __init__(self, v=0):
        self._value = v
    def __add__(self,other):
        new_value = self._value + other._value
        return Quantity(new_value)
    def __sub__(self,other):
        new_value = self._value - other._value
        return Quantity(new_value)
    def __str__(self):
        return str(self._value)

In [60]:
q1 = Quantity(12)
q2 = Quantity(10)
q3 = Quantity()
print('q1 =',q1,'q2 =',q2)
q3 = q1 + q2
print('The sum of two integers is q3 =',q3)
q4 = q1 - q2
print('The subtract of two integers is q4 =',q4)

q1 = 12 q2 = 10
The sum of two integers is q3 = 22
The subtract of two integers is q4 = 2

In [69]:
class Quantity:
    def __init__(self, v=0):
        self._value = v
    def __add__(self,other):
        new_value = self._value + other._value
        return Quantity(new_value)
    def __sub__(self,other):
        new_value = self._value - other._value
        return Quantity(new_value)
    def __pow__(self,other):
        new_value = self._value**other._value
        return Quantity(new_value)
    def __lt__(self,other):
        return self._value < other._value
    def __str__(self):
        return str(self._value)

In [70]:
q1 = Quantity(12)
q2 = Quantity(10)
q3 = Quantity()
print('q1 =',q1,'q2 =',q2)
q3 = q1 + q2
print('The sum of two integers is q3 =',q3)
q4 = q1 - q2
print('The subtract of two integers is q4 =',q4)
q5 = q1**q2
print('The power of the values is q5 =',q5)

q6 = q1**q4
print('The power of the values is q5 =',q6)

if q2 < q1:
    print(q2, "is less than",q1)

q1 = 12 q2 = 10
The sum of two integers is q3 = 22
The subtract of two integers is q4 = 2
The power of the values is q5 = 61917364224
The power of the values is q5 = 144
10 is less than 12

In [82]:
class Department:
    def set_department(self):
        self._id = input('Enter department id   : ')
        self._name = input('Enter department name : ')
    def display_department(self):
        print('Department ID   : ',self._id)
        print('Department Name : ',self._name)
class Employee:
    def set_employee(self):
        self._eid = input('Enter employee id     : ')
        self._ename = input('Enter employee name   : ')
        self._dept = Department()
        self._dept.set_department()
    def display_employee(self):
        print('Employee ID     : ',self._eid)
        print('Employee Name   : ',self._ename)
        self._dept.display_department()
emp = Employee()
emp.set_employee()
print('-'*30)
emp.display_employee()

Enter employee id     : 324
Enter employee name   : RANGUMUDRI VINAY SAI
Enter department id   : MECH
Enter department name : MECHANICAL ENGINEERING
------------------------------
Employee ID     :  324
Employee Name   :  RANGUMUDRI VINAY SAI
Department ID   :  MECH
Department Name :  MECHANICAL ENGINEERING

In [3]:
class Person:
    def __init__(self,n,a):
        self._name = n
        self._age  = a
    def birthday(self):
        print('Happy birthday you were',self._age)
        self._age += 1
        print('you are now',self._age)
    def __str__(self):
        return self._name + ' is ' + str(self._age) + ' years old'

In [7]:
# Class Inheritance - Child class
class Employee(Person):
    def __init__(self,n,a,i):
        super().__init__(n,a)
        self._id = i
    def calculate_pay(self,hours_worked):
        rate_of_pay = 7.50
        if self._age >= 21:
            rate_of_pay += 2.50
        return hours_worked*rate_of_pay
print('A Person only object')
p = Person('Vinay Sai',21)
print('The person object p is: ',p)

print('*'*50)

print('An Employee object : ')
e = Employee('pravali',18,7711)

e.birthday()

print(e,'Pay of Employee for 40 hours is : ',e.calculate_pay(40))
print('*'*50)

A Person only object
The person object p is:  Vinay Sai is 21 years old
**************************************************
An Employee object :
Happy birthday you were 18
you are now 19
pravali is 19 years old Pay of Employee for 40 hours is :  300.0
**************************************************

In [8]:
class SalesPerson(Employee):
    def __init__(self,n,a,i,r,s):
        super().__init__(n,a,i)
        self._region = r
        self._sales  = s
    def bonus(self):
        return self._sales * 0.5

In [9]:
print('Sales Person object')

s = SalesPerson('Vinay',22,52000,'INDIA',12000)
s.birthday()
print(s,'Pay of this object for 40 hrs is : ',s.calculate_pay(40))
print('bonus is : ',s.bonus())

Sales Person object
Happy birthday you were 22
you are now 23
Vinay is 23 years old Pay of this object for 40 hrs is :  400.0
bonus is :  6000.0

In [26]:
class SalesPerson(Employee):
    def __init__(self,n,a,i,r,s):
        super().__init__(n,a,i)
        self._region = r
        self._sales  = s
    def bonus(self):
        return self._sales * 0.5
    def __str__(self):
        sn = self._name
        sa = self._age
        si = self._id
        sr = self._region
        return sn + ' is ' + str(sa) + ' years old, ID is : '+ str(si) + ', region is ' + str(sr)

In [27]:
print('Sales Person object')

s = SalesPerson('Vinay',22,1321,'INDIA',12000)
s.birthday()
print(s,'Pay of this object for 40 hrs is : ',s.calculate_pay(40))
print('bonus is : ',s.bonus())

Sales Person object
Happy birthday you were 22
you are now 23
Vinay is 23 years old, ID is : 1321, region is INDIA Pay of this object for 40 hrs is :  400.0
bonus is :  6000.0