In [74]:
name = 'vinay'
print(type(name))
li = []
print(type(li))

<class 'str'>
<class 'list'>

In [75]:
l = []
t = ()
e = {}
print(type(l))
print(type(t))
print(type(e))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [76]:
name1 = " The is vinay"
print(name1.strip(' '))
print(name1.isdigit())

The is vinay
False

In [77]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [78]:
print(dir(l))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [79]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [80]:
print(dir(e))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [81]:
print(l)
print('*'*50)
l.append(1)
l.append(2)
print(l)

[]
**************************************************
[1, 2]

In [82]:
name = 'vinay'
name1 = 'pravali'
print(name)
print('*'*50)
name.append(name1)
print(name)

vinay
**************************************************

AttributeError: 'str' object has no attribute 'append'

In [83]:
class student:
    pass

In [84]:
stu1 = student()
stu2 = student()
stu3 = student()

print(stu1)
print(stu2)
print(stu3)

<__main__.student object at 0x00000256FA8EA130>
<__main__.student object at 0x00000256FA8EA4C0>
<__main__.student object at 0x00000256FA8F32B0>

In [85]:
class student:
    pass
stu1 = student()
stu2 = student()
stu3 = student()
q = student()

stu1.name = 'vinay sai'
stu1.rollno = 21
stu1.dob = 1999
stu2.name = 'Pravalika'
stu2.rollno = 13
stu2.dob = 2004
stu3.name = 'pravinay'
stu3.rollno = 18
stu3.dob = 2013
q.name = 'hema'
q.rollno = 123
q.dob = 2001
print(stu1.name, stu1.rollno, stu1.dob)
print(stu2.name, stu2.rollno, stu2.dob)
print(stu3.name, stu3.rollno, stu3.dob)
print(q.name,     q.rollno,    q.dob)

vinay sai 21 1999
Pravalika 13 2004
pravinay 18 2013
hema 123 2001

In [86]:
class student:
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
        
stu1 = student('vinay sai',324,1999,'bobbili')
stu2 = student('pravali',512,2004,'chodavaram')
stu3 = student('hema',506,2003,'pendurthi')
q = student('Hari',536,2001,'subbavaram')

print(stu1.name,stu1.rollno,stu1.dob,stu1.city)
print(stu2.name,stu2.rollno,stu2.dob,stu2.city)
print(stu3.name,stu3.rollno,stu3.dob,stu3.city)
print(q.name,q.rollno,q.dob,q.city)

vinay sai 324 1999 bobbili
pravali 512 2004 chodavaram
hema 506 2003 pendurthi
Hari 536 2001 subbavaram

In [87]:
class student:
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
    def address(self):
        address = f'Name : {self.name}, \n Roll no: {self.rollno}, \n Dob : {self.dob}, \n City : {self.city}'
        return address
stu1 = student('Vinay',324,1999,'Bobbili')
stu2 = student('Pravali',512,2004,'Chodavaram')
stu3 = student('Hari',513,2003,'Sabbavaram')
q = student('Hema',526,2001,'Pendurthi')

print(stu1.name,stu1.rollno,stu1.dob,stu1.city)
print(stu2.name,stu2.rollno,stu2.dob,stu2.city)
print(stu3.name,stu3.rollno,stu3.dob,stu3.city)
print(q.name,q.rollno,q.dob,q.city)
print("*"*30)
print(stu1.address())
print("-"*30)
print(stu2.address())
print("-"*30)
print(stu3.address())
print("-"*30)
print(q.address())

Vinay 324 1999 Bobbili
Pravali 512 2004 Chodavaram
Hari 513 2003 Sabbavaram
Hema 526 2001 Pendurthi
******************************
Name : Vinay,
 Roll no: 324,
 Dob : 1999,
 City : Bobbili
------------------------------
Name : Pravali,
 Roll no: 512,
 Dob : 2004,
 City : Chodavaram
------------------------------
Name : Hari,
 Roll no: 513,
 Dob : 2003,
 City : Sabbavaram
------------------------------
Name : Hema,
 Roll no: 526,
 Dob : 2001,
 City : Pendurthi

In [ ]:
from datetime import date
class student:
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
        
    def address(self):
        address = f'Name : {self.name}, \n Roll no: {self.rollno}, \n Dob : {self.dob}, \n City : {self.city}'
        return address
    
    def age(self):
        return date.today().year-self.dob
    
stu1 = student('Vinay',324,1999,'Bobbili')
stu2 = student('Pravali',512,2004,'Chodavaram')
stu3 = student('Hari',513,2003,'Sabbavaram')
q = student('Hema',526,2001,'Pendurthi')

print(stu1.age())
print(stu2.age())
print(stu3.age())
print(q.age())
print(stu1.name,stu1.rollno,stu1.dob,stu1.city)
print(stu2.name,stu2.rollno,stu2.dob,stu2.city)
print(stu3.name,stu3.rollno,stu3.dob,stu3.city)
print(q.name,q.rollno,q.dob,q.city)
print("*"*30)
print(stu1.address())
print("-"*30)
print(stu2.address())
print("-"*30)
print(stu3.address())
print("-"*30)
print(q.address())
print('='*30)
print(stu2.name ,':',stu2.rollno)

In [ ]:
from datetime import date
class student:
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
        
    def address(self):
        address = f'Name : {self.name}, \n Roll no: {self.rollno}, \n Dob : {self.dob}, \n City : {self.city}'
        return address
    
    def age(self):
        return date.today().year-self.dob
    
stu1 = student('Vinay',324,1999,'Bobbili')
stu2 = student('Pravali',512,2004,'Chodavaram')
stu3 = student('Hari',513,2003,'Sabbavaram')
q = student('Hema',526,2001,'Pendurthi')

student.fees = 10000
print(stu1.fees)
print(stu2.fees)
print(stu3.fees)
print(q.fees)

In [ ]:
from datetime import date
class student:
    fees = 10000
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
        
    def address(self):
        address = f'Name : {self.name}, \n Roll no: {self.rollno}, \n Dob : {self.dob}, \n City : {self.city}'
        return address
    
    def age(self):
        return date.today().year-self.dob
    
stu1 = student('Vinay',324,1999,'Bobbili')
stu2 = student('Pravali',512,2004,'Chodavaram')
stu3 = student('Hari',513,2003,'Sabbavaram')
q = student('Hema',526,2001,'Pendurthi')


print(stu1.fees)
print(stu2.fees)
print(stu3.fees)
print(q.fees)

In [ ]:
stu1.fees = 15000
print(stu1.fees)
print(stu2.fees)
print(stu3.fees)

In [ ]:
print(stu1.__dict__)

In [ ]:
print(stu2.__dict__)

In [ ]:
print(stu3.__dict__)

In [ ]:
print(q.__dict__)

In [ ]:
class Student:
    fees = 10000
    no_of_students = 0
    def __init__(self,name,rollno,dob,city):
        self.name = name
        self.rollno = rollno
        self.dob = dob
        self.city = city
        Student.no_of_students = Student.no_of_students + 1
        
    def address(self):
        address = f'Name : {self.name}, \n Roll no: {self.rollno}, \n Dob : {self.dob}, \n City : {self.city}'
        return address
    
    def pay_fees(self,amount):
        return self.fees-amount
    
stu1 = Student('Vinay',324,1999,'Bobbili')
stu2 = Student('Pravali',512,2004,'Chodavaram')
stu3 = Student('Hari',513,2003,'Sabbavaram')
q = Student('Hema',526,2001,'Pendurthi')


print(stu1.pay_fees(5000))
print(stu2.pay_fees(5000))
print(stu3.pay_fees(2630))
print(q.pay_fees(2300))
print('+'*30)
stu1.fees = 30000
print(stu1.pay_fees(5000))
print(stu1.pay_fees(2635))
print(stu1.pay_fees(3624))

In [ ]:
print(Student.no_of_students)