In [1]:
#String Operations
#Immutable--> those values that cant be changed
#Mutable--> those values that can be changed

str1='I Love Python'
str1

'I Love Python'

In [2]:
str1[4]='V'

TypeError: 'str' object does not support item assignment

In [4]:
#STRING CANT BE CHANGED ONCE CREATED
#Indexing--> When we are fetching one value at a time from a sequence
str1[0]
str1[5]
#indexing always starts with 0
str1[-1]
#negative indexing it is a process when we are fetching values in reverse order

'e'

In [5]:
#length keyword is used to display the total no of members in a seq
len(str1)

13

In [6]:
#Slicing--> When we have to fetch multiple values at a particular time from a sequence
str1

'I Love Python'

In [11]:
str1[3:8]
#Ivethon 
print(str1[0],str1[4:6],str1[9:],sep='')

Ivethon

In [14]:
str1=str1.lower()
str1
print(str1[::-1])

nohtyp evol i

In [16]:
str1='devang sareen'
str1.title()

'Devang Sareen'

In [17]:
str1.upper()

'DEVANG SAREEN'

In [19]:
str1.capitalize()

'Devang sareen'

In [20]:
str1.find('e') #find --> it is used to find the index of 1st occurence of a particular element

1

In [23]:
str1.count('e')
str2='Python Trainer'

In [26]:
str1.join('!!!!')

'!devang sareen!devang sareen!devang sareen!'

In [31]:
str1.isalpha()
str1='DEVANGSAREEN5'
str1.isalnum()

True

In [34]:
#Conditional Statements---> these statements are used to pass the condition and execute the output according to the condition

a=[-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8]
x=int(input())

if x in a:
    print('X is in the list')
    if x >0:
        print('X is a positive integer')
    elif x==0:
        print('X is zero')
    else:
        print('X is negative integer')
else:
    print('X is not in the list')

-10
X is not in the list

In [ ]:
#It ia an eligiblity criteria for voting
#X enters his name and nationality
#X is having nationality--> Indian

#Ask the age --> IF age is 18+
#print (eligible for voting)
#else ('not eligible')

#Nationality is not indian
#Ask for location--> (location--> India)
#How many years in india ?
#If it is 5+
#print('eligible for voting')
#else
#print('Not eligible')

#Sorry you are not eligible for voting

#3,4,7,8,9--> Q5 (1 each )
#5)--> 10th--> this will taken as your grading